.strikeInvoiceCardBox {
  margin: 0 auto;
  width: 280px;
}

.strikeInvoiceAnimate {
  animation-name: dash;
  animation-timing-function: linear;
  animation-direction: normal;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.strikeInvoiceRefresh {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 100px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 100px;
  background: #000000;
  flex-grow: 1;
  margin: 0px 0px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  height: 55px;
  width:232px;
  padding: 15px 49px;
}

.strikeInvoiceTitle {
  /* styleName: Headline 3/Bold; */
  font-family: "Montserrat";
  box-sizing: border-box;
  margin-top: 0;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}

.strikeInvoiceInfo {
  /* styleName: Body 2/Medium; */
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  text-align: center;
  color: #FF9B00;
  width: 236px;
}

.strikeInvoiceSeperator {
  left: 0px;
  top: 0px;
  border: 1px solid #333333;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
  background: #333333;
  width: 232px;
}

.strikeInvoiceAmountLabel {
  /* styleName: Body 2/Medium; */
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  color: #CCCCCC;
  float: left;
  height: 20px;
  clear: none;
}

.strikeInvoiceAmount {
  /* styleName: Body 2/Bold; */
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  color: #FFFFFF;
  float: right;
  height: 20px;
  clear: none;
}

.strikeInvoiceData{
  padding: 24px;
}

.strikeInvoiceAmountContainer {
  height: 60px;
  clear:both;
  width: 232px;
}

.strike-payment-loader {
  width: 280px;
  height: 520px;
  background: #000000;
  border-radius: 30px;
  color: #FFFFFF;
}

.strike-payment-loader svg {
  margin: 80px;
  top: 120px;
}

.strike-payment-loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 120px;
  top: 220px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: strike-payment-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.strike-payment-loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.strike-payment-loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.strike-payment-loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes strike-payment-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
